## Series part 1

In [5]:
import numpy as np
import pandas as pd

In [3]:
# help(pd.Series)

In [1]:
myindex = ['USA','Canada','Mexico']

In [2]:
mydata = [1776,1867,1821]

In [18]:
myser = pd.Series(data = mydata,index = myindex)
# OR
myser = pd.Series(mydata,myindex)

In [19]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [20]:
print(myser[0])
myser['USA']

1776

1776

In [21]:
ages = {'Rohan':21,'Rahul':29,'Tarun':25}

In [23]:
pd.Series(ages)

Rohan    21
Rahul    29
Tarun    25
dtype: int64

## Series part 2

In [24]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [25]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [27]:
print(sales_q1)
print()
print(sales_q2)

Japan     80
China    450
India    200
USA      250
dtype: int64

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [28]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [29]:
[1,2]*2

[1, 2, 1, 2]

In [30]:
np.array([1,2])*2

array([2, 4])

In [31]:
sales_q1*2 #Same as numpy array not as list

Japan    160
China    900
India    400
USA      500
dtype: int64

In [33]:
sales_q1+sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [34]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [36]:
sales_q1.dtype

dtype('int64')

In [37]:
sales_q1.add(sales_q2,fill_value = 0).dtype # Pandas operation converts dtype to float

dtype('float64')